numpy==1.26.4
pandas==2.3.3
scipy==1.16.3
scikit-learn==1.8.0

tensorflow==2.20.0
keras==3.12.0
tf_keras==2.20.1

transformers==4.57.3
huggingface-hub==0.36.0
tokenizers==0.22.1
safetensors==0.7.0

spacy==3.7.5
spacy-lookups-data==1.0.5

shap==0.50.0
lime==0.2.0.1
alibi==0.9.6
dice_ml==0.12
interpret==0.7.4
quantus==0.6.0

xgboost==3.1.2
lightgbm==4.6.0

matplotlib==3.10.8
seaborn==0.13.2
plotly==6.5.0
